
[Desktop Entry]
Name=Test
GenericName=Test
Exec=/media/mmcblk1p1/junk/first.app
Type=Application
Icon=sudo
Name[ru_RU]=Тестовое приложение
Name[en_GB]=Test application


